*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    align-items: center;
    flex-direction: column;
}
#container{
    margin-top: 100px;
    height: 500px;
    display: flex;
    align-items: flex-end;
}

.bar{
    width: 35px;
    background-color: black;
    margin: 1px;
}